body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #FAFAFA;
    color: #555;
    padding-bottom: 20px;
}

/*
* Helpers
*/
.hide {
    display: none;
}
.nowrap {
    white-space: nowrap;
}
.image {
    max-width: 100%;
}

/*
* Header
*/
.navbar {
    background: #FAFAFA !important;
    width: 100%;
    z-index: 1010;
    padding: 0 20px;
    font-size: 15px;
}
.navbar .site-logo {
    padding-top: 3px;
}
.navbar .right {
    line-height: 1.2em;
}
.navbar .welcome {
    padding: 0 20px 0 0;
    text-align: left !important;
    float: left !important;
    position: absolute;
    right: 0;
}
.topbar-bottom {
    background: #DDD !important;
    border-top: 1px solid #BBB;
    padding: 5px 10px;
    width: 100%;
}
.topbar-bottom ul {
    margin: 0;
    padding: 0;
}
.topbar-bottom li {
    list-style: none;
    text-align: center;
}
.topbar-bottom a {
    color: #444;
    text-decoration: none;
}
.topbar-bottom a.active {
    color: #4F519A;
}
.bottom-bar-extended {
    display: none;
    text-align: left;
}
.bottom-bar-extended li {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    border-top: 1px solid #FFF;
}

/*
* Sticky sidebar
*/
.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}
.sticky-sidebar::before,
.sticky-sidebar::after {
    content: '';
    display: table;
}

/*
* Tables
*/
table a:hover {
    text-decoration: none;
}
table.touchable {
    cursor: pointer;
}
.activity-list {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 13px 10px;
    min-height: 250px;
    height: calc(100vh - 350px);
    overflow-y: auto;
}
.activity-list.history {
    height: calc(100vh - 260px);
}
.activity-list table td {
    padding: 3px;
}
.activity-list h4 span {
    margin-right: 50px;
}
.activity-list .tag {
    margin-left: 10px;
}
.tag {
    background: #FBF3BD;
    border: 1px solid #CAC083;
    padding: 0 3px 0 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tag::before {
    content: '•';
    font-size: 130%;
    margin-left: -5px;
    color: #555;
    vertical-align: middle;
    padding-right: 3px;
}
.bigtag {
    background: #FBF3BD;
    border: 1px solid #CAC083;
    padding: 0 3px 0 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.bigtag::before {
    content: '•';
    font-size: 130%;
    margin-left: -16px;
    color: #555;
    vertical-align: middle;
    padding-right: 5px;
}
.edit {
    display: block;
    height: 22px;
    width: 22px;
    background: url(../img/edit.png) no-repeat;
}

/*
* Totals
*/
#totals fieldset {
    padding-bottom: 15px;
}
#totals fieldset > div {
    display: flex;
    align-items: center;
}
#totals .name {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
    text-align: right;
    padding-right: 5px;
}
#totals .graph {
    display: inline-block;
    width: 28%;
    background: transparent;
}
#totals .bar {
    display: block;
    height: 1em;
    background-color: #A5A5A5;
}
#totals .value {
    display: inline-block;
    min-width: 30px;
    width: 10%;
    text-align: right;
}

/*
* Autocomplete
*/
.typeahead__container {
    font-family: inherit;
}
.typeahead__list {
    overflow: auto;
    max-height: calc(100vh - 300px);
}
.typeahead__item a:hover {
    background: #DDF0FF !important;
}
.typeahead__item a {
    font-size: 14px;
    color: #505050 !important;
}
.modal .typeahead__result {
    margin-top: 37px;
}

/*
* Scrollbar
*/
.typeahead__list::-webkit-scrollbar,
.activity-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.typeahead__list::-webkit-scrollbar-button,
.activity-list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.typeahead__list::-webkit-scrollbar-thumb,
.activity-list::-webkit-scrollbar-thumb {
    background: #2196F3;
    border: 0 none #FFF;
    border-radius: 50px;
}
.typeahead__list::-webkit-scrollbar-thumb:hover,
.activity-list::-webkit-scrollbar-thumb:hover {
    background: #2196F3;
}
.typeahead__list::-webkit-scrollbar-thumb:active,
.activity-list::-webkit-scrollbar-thumb:active {
    background: #2196F3;
}
.typeahead__list::-webkit-scrollbar-track,
.activity-list::-webkit-scrollbar-track {
    background: #FFF;
    border: 0 none #FFF;
    border-radius: 50px;
}
.typeahead__list::-webkit-scrollbar-track:hover,
.activity-list::-webkit-scrollbar-track:hover {
    background: #FFF;
}
.typeahead__list::-webkit-scrollbar-track:active,
.activity-list::-webkit-scrollbar-track:active {
    background: #C8ECE6;
}
.typeahead__list::-webkit-scrollbar-corner,
.activity-list::-webkit-scrollbar-corner {
    background: transparent;
}
