/*
* Bootstrap
*/
table {
    width: 100% !important;
    max-width: 100% !important;
}
table.compact td {
    padding: 5px 5px 5px 10px;
    vertical-align: middle;
}
table tr:nth-child(1) td {
    border-top: none !important;
}
.alert.alert-info p {
    margin-bottom: 0.5rem;
}
.modal {
    max-height: 85%;
}
.main-content {
    padding-top: 70px;
}
.sidebar {
    padding-top: 70px;
    min-height: 100vh;
    max-width: 350px;
}
span.label {
    color: #343A40;
}
.fixed-action-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
fieldset {
    border: 1px solid #BBB;
}
legend {
    width: auto;
    padding: 0 10px;
}
.modal input[type="text"],
.modal input[type="date"],
.modal input[type="time"] {
    width: 100% !important;
}
.btn-block + .btn-block {
    margin-top: 0;
}

/*
* Media CSS
*/
@media (max-width: 800px) {

    body {
        font-size: 11px;
    }
    .sidebar {
        min-height: auto;
        width: 60%;
        max-width: 60% !important;
        margin: 0 20% 20px;
        padding: 10px 0;
    }
    .main-content {
        margin-bottom: 40px;
        padding-bottom: 80px;
        padding-top: 0;
    }
    .fixed-action-btn {
        bottom: 65px;
    }
    .topbar {
        display: none;
    }
    .topbar-bottom {
        display: auto;
    }
    .card {
        margin-top: 20px;
    }
}

@media (min-width: 800px) {

    .topbar {
        display: auto;
    }
    .topbar-bottom {
        display: none;
    }
}
