body {
    background: #FFF !important;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 3px;
}
.mt-1,
.mt-2,
.mt-3,
.mt-4,
.mt-5 {
    margin-top: 10px !important;
}
.printonly {
    display: inline-block;
}
.noprint {
    display: none;
}
.activity-list.history {
    height: 100% !important;
}
#totals {
    height: 100% !important;
}
